In [12]:
import pandas as pd

data = [10, 20, 30, 40, 50]
s = pd.Series(data)
print(s)

print(s[2]) 
print(s.iloc[3])
print(s[1:4])

0    10
1    20
2    30
3    40
4    50
dtype: int64
30
40
1    20
2    30
3    40
dtype: int64

In [29]:
import pandas as pd
# Creating a DataFrame from a dictionary

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)
print(df)

print(df['Name'])

print(df.iloc[2])   # Access the third row by position
print(df.loc[1])    # Access the second row by label

print(df[['Name', 'Age']])  # Select specific columns
print(df[1:3])             # Select specific rows


unique_dates = df['Age'].unique()

high_above_102 = df[df['Age'] > 25]


df.to_csv('trading_data.csv', index=False)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago
0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object
Name        Charlie
Age              35
City    Los Angeles
Name: 2, dtype: object
Name              Bob
Age                30
City    San Francisco
Name: 1, dtype: object
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   28
      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles